@font-face {
    font-family: 'Kingthings Spikeless';
    src: url('KingthingsSpikeless.ttf') format('truetype');
}

body {
    background: #000; /* Set background to black */
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

header {
    text-align: center;
    margin-top: 20vh;
}

.holographic-text {
    font-family: 'Kingthings Spikeless', sans-serif;
    font-size: calc(7vw + 5px); /* Set font size with a minimum increment */
    background: linear-gradient(45deg, #ff00ff, #00ffff, #ff0000); /* More vibrant holographic colors */
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: holographic 5s infinite;
}

@keyframes holographic {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.text-container {
    text-align: center;
    margin-top: 10vh; /* Adjusted margin-top */
    margin-bottom: 5vh; /* Adjusted margin-bottom */
}

#countdown, #snvr {
    font-family: 'Kingthings Spikeless', sans-serif;
    color: white;
    margin-bottom: 2vh; /* Added margin between countdown and SNVR */
    padding-left: 0; /* Remove left padding */
    padding-right: 0; /* Remove right padding */
    font-size: calc(7vw + 5px); /* Set font size with a minimum increment */
}

.email-container {
    margin-bottom: 5vh; /* Adjusted margin-bottom */
    text-align: center;
}

#email-form {
    display: flex;
    align-items: center;
}

#email {
    padding: 10px;
    margin-right: 10px;
    border: 2px solid white;
    border-radius: 0;
    font-size: 1.5rem;
    background: transparent;
    color: white;
}

#submit-button {
    padding: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: transparent;
    cursor: pointer;
    position: relative; /* Set position to relative */
}

#submit-button::before {
    content: "\2713"; /* Unicode for check mark symbol */
    position: absolute; /* Set position to absolute */
    top: 50%; /* Center vertically */
    left: 10px; /* Adjust position */
    transform: translateY(-50%); /* Center vertically */
    color: white; /* Set color */
}

#submit-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color 0.3s ease;
}

footer {
    text-align: center;
    font-size: 1rem;
    color: white;
    margin-bottom: 10px;
}
